<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div>
            <h3>{{ title }}</h3>
        </div>
        <hr>
        <div id="notice"></div>
        <div>
            {{ body | safe }}
        </div>
        <div>
            {{ time }}
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                url: '/get_notice',
                method: 'GET',
                type: 'json',
                success: function(e){
                    if (e.status == 200){
                        console.log("123");
                    }
                }
            });
        });
    </script>
</html>